*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes rainbow{
    0%{
        box-shadow: 0px 0px 5px red;
    }
    25%{
        box-shadow: 0px 0px 5px blue;
    }
    50%{
        box-shadow: 0px 0px 5px green;
    }
    
    75% {
        box-shadow: 0px 0px 5px yellow;
    }

    100%{
        box-shadow: 0px 0px 5px red;
    }
}
@keyframes t_rainbow{
    0%{
        color: red;
    }
    25%{
        color: green;
    }
    50%{
        color: blue;
    }
    
    75% {
        color: yellow;
    }

    100%{
        color: red;
    }
}
body{
    background-color: rgb(7,7,7);
}
h1{
    text-align: center;
    font-size: 10vw;
    margin: 5vw 0vw;
}
#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#text{
    font-size: 3vw;
    background-color: black;
    border:2px solid white;
    border-radius: 10px;
    text-shadow:0px 0px 5px white;
    width: 80vw;
    animation: rainbow 1s infinite linear;
}
#text:focus{
    outline: none;
    border: 2px solid white;
}
#submit{
    font-size: 3vw;
    margin-top: 5vh;
    width: 30vw;
    background-color: white;
    color: var(--col);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    animation: t_rainbow 1s infinite linear;
    transition:background-color 0.5s,border 0.5s;
}
#submit:hover{
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.found{
    margin-top: 5vh;
}
.found h2{
    color: yellow;
}
.found h2 span{
    color: blue;
}

@media (max-width:700px) {
    h1{
       font-size: 15vw;
       margin:5vh 0vw;
    }
    #text{
        font-size: 10vw;
        min-height: 7.5vh;
    }
    #submit{
        font-size: 10vw;
        width: 80vw;
    }
}